@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: rgba(0,0,0,.54);
	font-size:16px;
}
header {
	padding: 20px;
}

header nav {
	padding: 20px;
	float: right;
}

nav a {
	padding: 15px;
	text-decoration: none;
	color: inherit;
}

a:hover {
	background-color: #ccc;
}
#home a {
	background:purple;
	color:inherit;
	display:inline-block;
	margin:.5em;
	padding:1em 2em;
	text-decoration:none;
}
nav {
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
}

footer {
	padding: 20px;
}

div, section {
	padding: 20px;
}

#preventa {
	width: 100%;
	margin: auto;
}

#logo_BF {
	width: 7em;
}

#home{
	text-align: center;
	background: url("http://Irenchita.github.io/unit_6/images/fachada_corte_web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 250px;
	color: #fff;
}

#left_samsara {
	padding: 20px;
	float: left;
	width: 33.33%;
}	

#right_samsara {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 66.66%;
}

#left_areas {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 62%;
}	

#right_areas {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}

#PB {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#PA {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#RG {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#left_galeria {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}	

#right_galeria {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

#fam {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#ubica {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#contacto {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#info {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 29%;
	display: inline-block;
}

#social_media{
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 20%;
	display: inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
	width: 100%;
}	
