@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

header {
	width: 100%;
	padding: 1em;
}

#logo_BF {
	width: 15%;
	float: left;
}

nav {
	width: 80%;
	float: left;
	margin-top: 3em;
	color: rgb(20,60,106);
}

nav a {
	padding: .5em;
	margin: .2em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

nav a:hover {
	color: rgb(98,98,98);
}

a {
	text-decoration: none;
}


#samsara{
	font-style: bold;
	font-size: 1.3em;
}

#folleto{
	font-size: .9em;
	color: rgb(98,98,98);
	line-height: 1em;
}

#preventa {
	float: right;
}

body {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 16px;
	color: rgb(98,98,98);
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
}

h1 {
	font-family: 'PerpetuaTitlingMT', 'Source Code Pro', sans-serif ;
	padding: 1.3em 0em;
	font-size: 2.2em;
}

h2, h3, h4, h5 {
	margin-top: 1em;
	padding: .5em 0em;	
	text-transform: uppercase;
	color: rgb(20,60,106);
}

section{
	margin-top:1em;
}

hr {
	width: 2em;
	margin: .5em auto;
	border: none;
	background-color: rgb(151,181,69);
	height: .1em;
}

#home{
	text-align: center;
	background: url("http://Irenchita.github.io/unit_6/images/fachada_corte_web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 7em 5em;
	color: rgb(20,35,180);
	line-height: 2em;
	text-shadow: .05em .05em rgb(98,98,98);
}

#border_home{
	background-color: rgba(255,255,255,.4);
	padding: .5em .2em;
}

#home h2{
	color:rgb(98,98,98);
	text-shadow: .02em .02em rgb(0,0,0);
	font-weight: 400;
}

#home a {
	background: rgb(151,181,69);
	color: rgb(255,255,255);
	margin: 2em;
	display: inline-block;
	text-decoration: none;
	padding: .5em 1.5em;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: .12em;
}


em {
	color: rgb(151,181,69);
	font-weight: 600;
	letter-spacing: .15em;
	font-size: 1.2em;
	text-shadow: rgb(98,98,98);
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


#left_samsara {
	padding: 1em;
	float: left;
	width: 35%;
}	

#right_samsara {
	padding: 1em;
	float: right;
	width: 65%;
}

#left_areas {
	padding: 1em;
	float: left;
	width: 65%;
}	

#right_areas {
	padding: 1em;
	float: right;
	width: 35%;
	margin-top: 1em;
}
.length{
	width: 30em;
	text-align: center;
	margin: auto;
}
#PB {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#PA {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#RG {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#galeria {
	padding: 1em;
	width: 65%;
}

#fam {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#maps {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#contacto {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#info {
	padding: 1em;
	float: left;
	width: 70%;
	display: inline-block;
}

#social_media{
	padding: 1em;
	float: right;
	width: 30%;
	display: inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
	width: 100%;
}	

footer {
	padding: 1em;
}