@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
@import url("fonts/perpetua");
@import url("fonts/antipasto");
  
@font-face {
	font-family: 'perpetua';
	src: url('fonts/perpetua/303981_0_0.eot');
	src: url('fonts/perpetua/303981_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/perpetua/303981_0_0.woff2') format('woff2'),url('fonts/perpetua/303981_0_0.woff') format('woff'),url('fonts/perpetua/303981_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'antipasto';
	src: url('fonts/antipasto/antipasto_extralight.otf');
	src: url('fonts/antipasto/antipasto_extralight.otf?#iefix') format('embedded-opentype'), format('truetype');
}
* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

header {
	width: 100%;
	padding: .5em;
	margin: 1em;	
}

#logo_BF {
	width: 8em;
	float: left;
}

nav {
	font-family: 'perpetua', 'antipasto', sans-serif;
	width: 70%;
	float: left;
	margin-left: 12em;
	margin-top: 2em;
	color: rgb(20,60,106);
}

nav a {
	padding: .5em;
	margin: .2em 1em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	font-size: 1.3em;
}

nav a:hover {
	color: rgb(98,98,98);
}

a {
	text-decoration: none;
}

#folleto{
	font-size: .9em;
	color: rgb(98,98,98);
	line-height: 1em;
}

#preventa {
	float: right;
	margin-top: -1em;
}

#wrapper{
	width:80%;
	margin: auto;
}

body {
	font-family: 'antipasto', sans-serif;
	font-size: 16px;
	color: rgb(98,98,98);
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	letter-spacing: .15em;
}

#border_home h1 {
	font-family: 'perpetua', 'antipasto', sans-serif;
	padding: 1.3em 0em;
	font-size: 2.2em;
	text-transform: uppercase;
	color: rgb(255,255,255);
}

h1, h3{
	font-family: 'perpetua', 'antipasto', sans-serif;
	margin-top: 1em;
	padding: .5em 0em;	
	text-transform: uppercase;
	color: rgb(20,60,106);
}

section>h2 {
	margin-top: 1em;
	padding: .5em 0em;	
	text-transform: uppercase;
	color: rgb(20,60,106);
}

hr {
	width: 2em;
	margin: .5em auto;
	border: none;
	background-color: rgb(151,181,69);
	height: .1em;
}

#home{
	text-align: center;
	background: url("http://Irenchita.github.io/unit_6/images/fachada_corte_web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: rgb(255,255,255);
	line-height: 2em;
	text-shadow: .05em .05em rgb(98,98,98);
}

#border_home{
	background-color: rgba(0,0,0,0.19);
	padding: 8em 5em;
}

#home h2{
	text-shadow: .02em .02em rgb(0,0,0);
	font-weight: 400;
}

#home a {
	background: rgb(151,181,69);
	color: rgb(255,255,255);
	margin: 2em;
	display: inline-block;
	text-decoration: none;
	padding: .5em 1.5em;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: .12em;
}


em {
	color: rgb(151,181,69);
	font-weight: 600;
	letter-spacing: .15em;
	font-size: 1.2em;
	text-shadow: rgb(98,98,98);
	text-transform: uppercase;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


#left_samsara {
	padding: 1em;
	float: left;
	width: 35%;
}	

#right_samsara {
	padding: 1em;
	float: right;
	width: 65%;
}

#left_areas {
	padding: 1em;
	float: left;
	width: 65%;
}	

#right_areas {
	padding: 1em;
	float: right;
	width: 35%;
	margin-top: 1em;
}
.length{
	width: 30em;
	text-align: center;
	margin: auto;
}

#PB {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
	margin: auto;
}

#PA {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#RG {
	padding: 1em;
	float: left;
	width: 33%;
	display: inline-block;
}

#galeria {
	padding: 1em;
	width: 90%;
	margin: 1em auto;
	float: left;
	display: inline-block;
}

#ventas{
	display: inline-block;
	width: 98%;
}

#fam {
	float: left;
	width: 32%;
	margin:.5em;
}

#maps {
	float: left;
	width: 32%;
}

#contacto {
	float: left;
	width: 33%;
}

#info {
	padding: 1em;
	float: left;
	width: 70%;
	display: inline-block;
}

#social_media{
	padding: 1em;
	float: right;
	width: 30%;
	display: inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
	width: 100%;
}	

.img_flor{
	margin-top: 0em;
	width: 40%;
}

footer {
	padding: 1em;
	background-color: #ccc;
}