@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
@import url("fonts/perpetua");
@import url("fonts/antipasto");
  
@font-face {
	font-family: 'perpetua';
	src: url('fonts/perpetua/303981_0_0.eot');
	src: url('fonts/perpetua/303981_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/perpetua/303981_0_0.woff2') format('woff2'),url('fonts/perpetua/303981_0_0.woff') format('woff'),url('fonts/perpetua/303981_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'antipasto';
	src: url('fonts/antipasto/antipasto_extralight.otf');
	src: url('fonts/antipasto/antipasto_extralight.otf?#iefix') format('embedded-opentype'), format('truetype');
}
* {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

header {
	width: 100%;
	padding: .5em;
	height: 7em;
}

#logo_BF {
	width: 8%;
	float: left;
	margin: 1em 0 0 1em;
}

nav {
	font-family: 'perpetua', 'antipasto', sans-serif;
	width: 90%;
	float: right;
	margin-top: 2em;
	color: rgb(20,60,106);
}

nav a {
	padding: .5em;
	margin: .2em 1em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	font-size: 1.3em;
}

nav a:hover {
	color: rgb(98,98,98);
}

a {
	text-decoration: none;
}

#folleto{
	font-size: .9em;
	color: rgb(98,98,98);
	line-height: 1em;
}

#preventa {
	float: right;
	margin-top: -1em;
}

#wrapper{
	margin: auto;
}

body {
	font-family: 'antipasto', sans-serif;
	font-size: 16px;
	color: rgb(98,98,98);
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	letter-spacing: .15em;
	background-color: rgba(98,98,98,.1);
}

h1, h3{
	font-family: 'perpetua', 'antipasto', sans-serif;
	margin-top: .5em;
	padding: .5em 0em;	
	text-transform: uppercase;
	color: rgb(20,60,106);
}

section>h2 {
	margin-top: 1em;
	padding: .5em 0em;	
	text-transform: uppercase;
	color: rgb(20,60,106);
}

hr {
	width: 2em;
	margin: .5em auto;
	border: none;
	background-color: rgb(151,181,69);
	height: .1em;
}

#home{
	text-align: center;
	background: url("http://Irenchita.github.io/unit_6/images/fachada_corte_web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: rgb(255,255,255);
	line-height: 2em;
	text-shadow: .05em .05em rgb(98,98,98);
	height: 37.5em;
}

#border_home{
	background-color: rgba(0,0,0,0.19);
	padding: 8em 5em;
	height: 37.5em;
}

#border_home h1 {
	font-family: 'perpetua', 'antipasto', sans-serif;
	padding: 1.3em 0em;
	font-size: 2.2em;
	text-transform: uppercase;
	color: rgb(255,255,255);
}

#home h2{
	text-shadow: .02em .02em rgb(0,0,0);
	font-weight: 400;
}

#home a {
	background: rgb(151,181,69);
	color: rgb(255,255,255);
	margin: 2em;
	display: inline-block;
	text-decoration: none;
	padding: .5em 1.5em;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 1.5em;
}

em {
	color: rgb(151,181,69);
	font-weight: 600;
	letter-spacing: .15em;
	font-size: 1.2em;
	text-shadow: rgb(98,98,98);
	text-transform: uppercase;
}

.section {
	height: 30em;
	background-color: rgba(98,98,98,.05);
	margin: auto;
	width: 100%;
	padding: 3em;
}	

#left_samsara {
	padding: 2.5em;
	float: left;
	width: 30%;
	margin: 0 0 0 7em;
}	

#right_samsara {
	float: right;
	width: 45%;
	margin: 0 7em 0 0;
	padding: 1em;
}

#left_areas {
	float: left;
	width: 50%;
	margin: 0 0 0 4em;
}	

#right_areas {
	float: right;
	width: 35%;
	margin: 0 5em 0 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#section_2{
	height: 54em;
	background-color: rgb(255,255,255);
	margin: auto;
	width: 100%;
	padding: 2em;
}

.length{
	width: 35em;
	text-align: center;
	margin: auto;
}

.img_flor{
	margin-top: -.2em;
	width: 20%;
}

#PB {
	padding: 1em;
	float: left;
	width: 30%;
	margin-left: 4em;
}

#PA {
	padding: 1em;
	float: left;
	width: 30%;
}

#RG {
	padding: 1em;
	float: left;
	width: 30%;
}

#section_3{
	height: 45em;
/*	background-color: rgba(98,98,98,.05);*/
	background-color: rgba(255,255,255,.7);
	margin: auto;
	width: 100%;
	padding: 2em;
}

.galeria {
	padding: .2em;
	width: 15%;
	margin: 4em .5em;
	float: left;
	background-color: rgba(98,98,98,.3);
}

#section_contacto{
	height: 27em;
	margin: auto;
	width: 100%;
	padding: 2em;
	background: url("http://Irenchita.github.io/unit_6/images/rooftop.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#maps {
	float: left;
	width: 60%;
}

#maps_size{
	width: 32em;
	height: 20em;
}

#contacto {
	float: left;
	width: 30%;
}

footer {
	padding: 1em;
	border-top: .2em solid #ccc;
	background-color: rgb(255,255,255);
}

#privacidad{
	float: left;
	width: 15%;
	margin: 1em 0 0 10em;
}

.iconos{
	width: 50%;
	float: right;
}

.img_iconos{
	width: 3em;
	height: 3em;
	margin: 0 1em 0 1.5em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
	width: 100%;
}	

